.chatList{
    flex:1;
    overflow-y: scroll;
    background-color: #a78cb2;
    border-radius: 0 0 0 30px;

    .search{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
    
        .searchBar{
            display: flex;
            flex: 1;
            background-color: #3b2d58;
            align-items: center;
            border-radius: 10px;
    
            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
                padding: 10px;
            }
            img{
                width: 20px;
                height: 20px;
                margin: 10px;
            }
    
           
        }
    
        .plus{
            width: 36px;
            height: 36px;
            cursor: pointer;
            background-color:#3b2d58;
            border-radius: 5px;
            padding: 10px;
        }

    }

    .item{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        background-color: #eeb9c9;
        margin: 15px;

        img{
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }

        .texts{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        span{
            font-weight: 500;
        }

        p{
            font-size: 14px;
            font-weight: 300;
        }
    }
}
